<h3>{{ title }}</h3>
<hr />
<form role="form" style="max-width: 500px;">
    <strong class="error">{{ error }}</strong>
    <div class="form-group">
        <label for="centersName">
            Center Name
        </label>
        <input type="text" class="form-control" id="centersName" ng-model="centersName" />
    </div>
    
    <div class="form-group">
        <label for="Districts">
            District:
        </label>
        <select class="form-control" id="Districts" ng-selected="{{c.ID == districtID}}" ng-model="districtID" ng-model=" districtid" ng-options="c.ID as c.DistrictsName for c in districts" ng-change="getThanas()">
            <option value="">-- Select District --</option>
        </select>
    </div>
    <div class="form-group">
        <label for="thanas">
            Thana:
        </label>
        <select class="form-control" id="thanas" ng-model="thanaID" ng-disabled="!thanas" ng-options="s.ID as s.ThanasName for s in thanas">
            <option value="">-- Select Thana --</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="address">
            Address:
        </label>
        <textarea rows="5" cols="10" class="form-control" id="address" ng-model="address"></textarea>
    </div>
  
    <a href="#/listCenter" class="btn btn-info">Back to List</a>
    <button type="submit" class="btn btn-default" ng-click="save()">
        Submit
    </button>
</form>
