@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


@section AngularModule
{
<link href="~/Content/NgTable/ng-table.css" rel="stylesheet" />
    <link href="~/Content/NgTable/Site.css" rel="stylesheet" />
<link href="~/Content/ng-bs3-datepicker.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/angular-resource.js")" type="text/javascript"></script>

    
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Scripts/restangular.js"></script>
<script src="~/Scripts/ng-table.js"></script>
    @*<script src="~/Scripts/ng-table.min.js"></script>*@
    <script src="@Url.Content("~/Scripts/app/UserControllers/userPagingApp.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/UserControllers/userPagingController.js")" type="text/javascript"></script>

   
}
<div ng-view>
    
</div>