<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{title}}<small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
            <li class="active">
                <i class="fa fa-plus"></i> {{messasge}} 
            </li>
        </ol>
    </div>
</div>

<strong class="error label-warning">{{ error }}</strong>

<form role="form" action="#" method="POST">
    <div class="row">
        <div class="col-md-6">
            <h3 class="dark-grey">Registration</h3>
            <br />

            <div class="form-group col-lg-12" required="required">
                <label>Baby's Name*</label>
                <input class="form-control" id="ChildName" ng-model="ChildName">
            </div>

            <div class="form-group col-lg-12">
                <label>Father's Name*</label>
                <input class="form-control" id="FatherName" ng-model="FatherName">
            </div>
            <div class="form-group col-lg-12">
                <label>Mother's Name*</label>
                <input class="form-control" id="MotherName" ng-model="MotherName">
            </div>
          
            <div class='form-group col-lg-4'>

                <label>Birth Date*</label>
                <div class='input-group date'>
                    <ng-bs3-datepicker id="date3" data-ng-model='DOB' language="en" date-format="YYYY/MM/DD" />
               </div>
            </div>

            <div class="form-group col-lg-7">
                <label>Birth Certificate ID</label>
                <input class="form-control" id="BirthCertificateID" ng-model="BirthCertificateID">
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-default" data-ng-disabled="error" ng-click="save()">
                Submit
            </button>
            <button type="submit" class="btn btn-default">Reset</button>

        </div>

    </div>
</form>