@{
    ViewBag.Title = "Error";
    string message = "Sorry, an error occurred while processing your request.";
    if (ViewData["Message"] != null)
    {
        message = ViewData["Message"].ToString();
    }
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
      <meta http-equiv="x-ua-compatible" content="IE=8" >
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h>
    @message        
    </h>
</body>
</html>