
    <h3>User List</h3>

    <p>

        <input class="form-control" placeholder="Search User" type="text" ng-model="search" ng-model-options="{ debounce: 500 }" />
    </p>
  


    <table ng-table="tableParams" class="table table-striped">
        <thead>
            <tr>
                <th class="sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('Id', 'asc'),
                    'sort-desc': tableParams.isSortBy('Id', 'desc')
                  }"
                    ng-click="tableParams.sorting({'Id' : tableParams.isSortBy('Id', 'asc') ? 'desc' : 'asc'})" rowspan="2">
                    <div><i class="glyphicon glyphicon-user"></i> ID</div>
                </th>



                <th class="text-center sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('UserID', 'asc'),
                    'sort-desc': tableParams.isSortBy('UserID', 'desc')
                  }"
                    ng-click="tableParams.sorting({'UserID' : tableParams.isSortBy('UserID', 'asc') ? 'desc' : 'asc'})">
                    <div>User ID</div>
                </th>
                <th class="text-center sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('UserName', 'asc'),
                    'sort-desc': tableParams.isSortBy('UserName', 'desc')
                  }"
                    ng-click="tableParams.sorting({'UserName' : tableParams.isSortBy('UserName', 'asc') ? 'desc' : 'asc'})">
                    <div>User Name</div>
                </th>
                <th class="text-center sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('FullName', 'asc'),
                    'sort-desc': tableParams.isSortBy('FullName', 'desc')
                  }"
                    ng-click="tableParams.sorting({'FullName' : tableParams.isSortBy('FullName', 'asc') ? 'desc' : 'asc'})">
                    <div>Full Name</div>
                </th>

                <th class="text-center sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('FatherName', 'asc'),
                    'sort-desc': tableParams.isSortBy('FatherName', 'desc')
                  }"
                    ng-click="tableParams.sorting({'FatherName' : tableParams.isSortBy('FatherName', 'asc') ? 'desc' : 'asc'})">
                    <div>Father's Name</div>
                </th>

                <th class="text-center sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('MotherName', 'asc'),
                    'sort-desc': tableParams.isSortBy('MotherName', 'desc')
                  }"
                    ng-click="tableParams.sorting({'MotherName' : tableParams.isSortBy('MotherName', 'asc') ? 'desc' : 'asc'})">
                    <div>Mother's Name</div>
                </th>

                <th class="text-center sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('CellNumber', 'asc'),
                    'sort-desc': tableParams.isSortBy('CellNumber', 'desc')
                  }"
                    ng-click="tableParams.sorting({'PhoneNumber' : tableParams.isSortBy('PhoneNumber', 'asc') ? 'desc' : 'asc'})">
                    <div>Phone Number</div>
                </th>

                
                <!--<th class="text-center sortable" ng-class="{
                        'sort-asc': tableParams.isSortBy('BirthDay', 'asc'),
                        'sort-desc': tableParams.isSortBy('BirthDay', 'desc')
                      }"
                    ng-click="tableParams.sorting({'BirthDate' : tableParams.isSortBy('BirthDate', 'asc') ? 'desc' : 'asc'})">
                    <div>Birth Date</div>
                </th>-->

                <th class="text-center sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('CurrentAddress', 'asc'),
                    'sort-desc': tableParams.isSortBy('CurrentAddress', 'desc')
                  }"
                    ng-click="tableParams.sorting({'CurrentAddress' : tableParams.isSortBy('CurrentAddress', 'asc') ? 'desc' : 'asc'})">
                    <div>Present Address</div>
                </th>

                <th class="text-center sortable" ng-class="{
                    'sort-asc': tableParams.isSortBy('PermanentAddress', 'asc'),
                    'sort-desc': tableParams.isSortBy('PermanentAddress', 'desc')
                  }"
                    ng-click="tableParams.sorting({'PermanentAddress' : tableParams.isSortBy('PermanentAddress', 'asc') ? 'desc' : 'asc'})">
                    <div>Permanent Address</div>
                </th>

                
                <!--<th class="text-center sortable" ng-class="{
                        'sort-asc': tableParams.isSortBy('BirthCertificateID', 'asc'),
                        'sort-desc': tableParams.isSortBy('BirthCertificateID', 'desc')
                      }"
                    ng-click="tableParams.sorting({'BirthCertificateID' : tableParams.isSortBy('BirthCertificateID', 'asc') ? 'desc' : 'asc'})">
                    <div>Birth Certificate</div>
                </th>-->



                <th class="text-center" >
                    <div><i class="glyphicon glyphicon-edit"></i> Edit</div>
                </th>
                <th class="text-center">
                    <div><i class="glyphicon glyphicon-trash"></i> Delete</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in $data">
                <td data-title="'ID'" sortable="'ID'">
                    {{user.Id}}
                </td>
                <td data-title="'User ID'" sortable="'UserID'">
                    {{user.UserId}}
                </td>

                <td data-title="'User Name'" sortable="'UserName'">
                    {{user.UserName}}
                </td>

                <td data-title="'Full Name'" sortable="'FullName'">
                    {{user.FullName}}
                </td>

                <td data-title="'Father's Name'" sortable="'FatherName'">
                    {{user.FatherName}}
                </td>

                <td data-title="'Mothers's Name'" sortable="'MothersName'">
                    {{user.MotherName}}
                </td>

                <td data-title="'Phone Number'" sortable="'PhoneNumber'">
                    {{user.PhoneNumber}}
                </td>
                
                <!--<td data-title="'Birth Date'" sortable="'BirthDate'">
                    {{user.BirthDate}}
                </td>-->

                <td data-title="'Present Address'" sortable="'CurrentAddress'">
                    {{user.CurrentAddress}}
                </td>

                <td data-title="'Permament Address'" sortable="'PermanentAddress'">
                    {{user.PermanentAddress}}
                </td>

                
                <!--<td data-title="'Birth Certificate'" sortable="'BirthCertificateID'">
                    {{user.BirthCertificateID}}
                </td>-->


                <td data-title="'Actions'">
                    <a href="/User/Edit#/editUser/{{ user.Id }}" class="glyphicon glyphicon-edit"> Edit</a>
                 
                    
                </td>

                <td data-title="'Actions'">
                    <a href="/User/Edit#/deleteUser/{{ user.Id }}" class="glyphicon glyphicon-trash"> Delete</a>
                    
                </td>

            </tr>
        </tbody>
    </table>


