@{
    ViewBag.Title = "EditCenter";

}

<h2>Edit Center</h2>
@section AngularModule
{

    <link href="~/Content/ng-bs3-datepicker.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/angular-resource.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/app/CenterController/centerManagementApp.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/CenterController/centerManagementControllers.js")" type="text/javascript"></script>


}
<div ng-view></div>
