

#slider1{
                background-image:url('images/slide1.jpg');
    }

#slider2{
                background-image:url('images/slide2.jpg');
    }

#slider3{
                background-image:url('images/slide3.jpg');
    }
