<h3>{{ title }}</h3>
<hr />
<form name="vaccinForm" role="form" style="max-width: 500px;">
    <strong class="error">{{ error }}</strong>
    <div class="form-group" ng-class="{ 'has-error' : vaccinForm.name.$invalid && !vaccinForm.name.$pristine }">
        <label for=" firstname">
            Vaccin Name
        </label>
        <input type="text" placeholder="Vaccin Name" class="form-control" name="name" id="vaccinName" ng-model="vaccinName" required>
        <p ng-show="vaccinForm.name.$invalid && !vaccinForm.name.$pristine" class="help-block">Vaccin name is required.</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : vaccinForm.startTime.$invalid && !vaccinForm.startTime.$pristine }">
        <label for="StartTime">
            Start Time:
        </label>
        <input name="startTime" placeholder="Vaccin Using Start Time After Birth" type="text" ng-pattern="/^[1-9][0-9]{0,2}(?:,?[0-9]{3}){0,3}(?:\[0-9]{1,2})?$/" class="form-control" id="startTime" ng-model="startTime" required="" />
        <p ng-show="vaccinForm.startTime.$invalid && !vaccinForm.startTime.$pristine" class="help-block">Valid Integer Vaccin Using Start Time is required.</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : vaccinForm.endTime.$invalid && !vaccinForm.endTime.$pristine }">
        <label for="EndTime">
            End Time:
        </label>
        <input name="endTime" placeholder="Vaccin Using End Time After Start Time" type="text" class="form-control" id="endTime" ng-model="endTime" ng-pattern="/^[1-9][0-9]{0,2}(?:,?[0-9]{3}){0,3}(?:\[0-9]{1,2})?$/" required="" />
        <p ng-show="vaccinForm.endTime.$invalid && !vaccinForm.endTime.$pristine" class="help-block">Valid Integer Vaccin Using End Time is required.</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : vaccinForm.description.$invalid && !vaccinForm.description.$pristine }">
        <label for="description">
            Description:
        </label>
        <textarea name="description" rows="5" cols="10" class="form-control" id="description" ng-model="description" required=""></textarea>
        <p ng-show="vaccinForm.description.$invalid && !vaccinForm.description.$pristine" class="help-block">Vaccin Description is required.</p>
    </div>

    <a href="#/list" class="btn btn-info">Back to List</a>
    <button type="submit" class="btn btn-default" ng-disabled="vaccinForm.$invalid" ng-click="save()">
        Submit
    </button>
</form>
